<?xml version="1.0" encoding="utf-8"?><!--- seznam deklarovanych aktivit -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toshiba.myapplication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/><!--- umoznuje cist z persistentni pameti -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!--- umoznuje zapisovat do persistentni pameti -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".grafActivity" >
        </activity>
        <activity android:label="@string/app_name" android:name=".seznam_bezcu" >
        </activity>
    </application>

</manifest>